/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10000000 version
*/

* {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

main section {
    margin-top: 5vh;
    text-align: justify;
    text-align: center;
} 

main p {
    text-align: justify;
}

.maincontent {
    margin-left: 5vw;
    margin-right: 1vw;
}

header {
    text-align: center;
}

header img {
    width: 90vw;
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    width: 100vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #000;
}

a {
    color: #00f;
    -webkit-text-decoration: underline #add8e6;
       -moz-text-decoration: underline #add8e6;
            text-decoration: underline #add8e6;
}

a:hover {
    color: #00f;
    -webkit-text-decoration: underline #00f;
       -moz-text-decoration: underline #00f;
            text-decoration: underline #00f;
}

a:active {
    color: #f00;
    -webkit-text-decoration: underline #f00;
       -moz-text-decoration: underline #f00;
            text-decoration: underline #f00;
}

nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    text-align: center;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    top: 0;
    right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    top: -100vh;
    -webkit-transition: all 0.5s cubic-bezier(0.6, -0.28, 0.32, 1.275);
    -o-transition: all 0.5s cubic-bezier(0.6, -0.28, 0.32, 1.275);
    -moz-transition: all 0.5s cubic-bezier(0.6, -0.28, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.6, -0.28, 0.32, 1.275);
}

nav.toggled {
    top: 0;
}

.wrapper {
    position: absolute;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: xx-large;
    margin: 1vh 1vw;
    z-index: 99999;
}

.flexBreak {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    height: 0;
}

.burger {
    bottom: 10px;
}

.burger>div {
    cursor: pointer;
    width: 40px;
    margin: 0 auto;
}

.burger div div {
    width: 35px;
    height: 7px;
    -webkit-border-radius: 25%;
       -moz-border-radius: 25%;
            border-radius: 25%;
    background-color: #000;
    margin: 0 auto;
}

.burger .line1 {
    top: -5px;
}

.burger .line3 {
    bottom: -5px;
}

.X {
    position: fixed;
    z-index: 99999999999;
    cursor: pointer;
    display: none;
}

.X.toggled {
    display: block;
}

.X .line1 {
    width: 40px;
    height: 7px;  
    background: #000;
    -webkit-border-radius: 25%;
       -moz-border-radius: 25%;
            border-radius: 25%; 
    -webkit-transform: rotate(-45deg) translateX(-5px); 
       -moz-transform: rotate(-45deg) translateX(-5px); 
        -ms-transform: rotate(-45deg) translateX(-5px); 
         -o-transform: rotate(-45deg) translateX(-5px); 
            transform: rotate(-45deg) translateX(-5px);
}

.X .line2 {
    width: 40px;
    height: 7px;    
    background: #000;  
    -webkit-border-radius: 25%;  
       -moz-border-radius: 25%;  
            border-radius: 25%; 
    -webkit-transform: rotate(45deg) translateX(-5px); 
       -moz-transform: rotate(45deg) translateX(-5px); 
        -ms-transform: rotate(45deg) translateX(-5px); 
         -o-transform: rotate(45deg) translateX(-5px); 
            transform: rotate(45deg) translateX(-5px);
}